<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Actor_Information_22.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Actor_Information_22.Properties.Settings>
            <setting name="aiPass" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="aiHost" serializeAs="String">
                <value>access802899325.webspace-data.io</value>
            </setting>
            <setting name="aiPassword" serializeAs="String">
                <value>Jadzia1984!</value>
            </setting>
            <setting name="aiPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="aiUsername" serializeAs="String">
                <value>u98941559</value>
            </setting>
            <setting name="aiRFAdult" serializeAs="String">
                <value>/X22/hQDo6TUAuImqWENYQjdjMHhdKeiFYqsvMKhMPNBgM7oXUCNkXB4rtBH7i3tYubYh</value>
            </setting>
            <setting name="aiRFChild" serializeAs="String">
                <value>/X22/uzmQIAHBSH6kusMp9tNpbSvEn5IGJKaB5ESX3WUWmPeMVNRnBFxudnt4ubtaAfbJ</value>
            </setting>
            <setting name="aiRFFamily" serializeAs="String">
                <value>/X22/3hbQnlLEQA870bKszQg8dIWQ5cLzZm2wOCJj5zym0eFKZwgBn2T0ZS9i03fit53q</value>
            </setting>
            <setting name="aiSaveLocal" serializeAs="String">
                <value>C:\Users\ashcr\Downloads\New folder</value>
            </setting>
            <setting name="aiDCPW" serializeAs="String">
                <value>TFI4gOfiMnABxa4UG9BuJAh4fUjayi5ySGHVB0XeT3qrgdFh8gj27ArwUUH8pBFZ</value>
            </setting>
            <setting name="aiFrom" serializeAs="String">
                <value>11/11/2021</value>
            </setting>
            <setting name="aiTo" serializeAs="String">
                <value>24/12/2021</value>
            </setting>
            <setting name="aiTimerInterval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="aiProgramName" serializeAs="String">
                <value>Bartholomew</value>
            </setting>
            <setting name="aiChildChecked" serializeAs="String">
                <value>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="aiAdultChecked" serializeAs="String">
                <value>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="aiFamilyChecked" serializeAs="String">
                <value>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="aiSavedChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aiRF" serializeAs="String">
                <value>/X22/GatherBooking</value>
            </setting>
            <setting name="aiFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="aiSaveType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aiSavedFTP" serializeAs="String">
                <value />
            </setting>
            <setting name="aiSavedLocal" serializeAs="String">
                <value />
            </setting>
            <setting name="aiLocalBackup" serializeAs="String">
                <value />
            </setting>
        </Actor_Information_22.Properties.Settings>
    </userSettings>
</configuration>